<div
    th:fragment="renovationSearchResults(searchResults, searchQuery.totalPages, searchQuery.page, searchQuery.resultsPerPage, query)"
    th:with="searchQuery=${#ctx.session.searchMyRenovationsSearchQuery}">
  <link rel="stylesheet" th:href="@{/css/pagination.css}"/>
  <div>
    <nav aria-label="Page navigation" class="d-flex flex-wrap gap-2 align-items-center mb-3 mx-2"
         th:if="${searchQuery.totalPages > 1}">
      <ul class="pagination m-0 flex-wrap">
        <!-- Previous button -->
        <li class="page-item" th:classappend="${searchQuery.page == 1} ? 'disabled'">
          <button class="page-link"
                  th:onclick="'applyRenovations('+(${searchQuery.page} - 1)+', '+${searchQuery.resultsPerPage}+')'">
            Prev
          </button>
        </li>

        <!-- First page link (if not the first page) -->
        <li class="page-item" th:if="${searchQuery.page > 4}">
          <button class="page-link"
                  th:onclick="'applyRenovations(1, '+${searchQuery.resultsPerPage}+', this)'">1
          </button>
        </li>
        <li class="page-item disabled" th:if="${searchQuery.page > 4}"><span
            class="page-link">...</span>
        </li>

        <!-- Page number links -->
        <th:block th:each="pageNum : ${#numbers.sequence(
                            searchQuery.page <= 4 ? 1 : searchQuery.page - 2,
                            searchQuery.page >= searchQuery.totalPages - 3 ? searchQuery.totalPages : searchQuery.page + 2)}">
          <div class="page-item" th:classappend="${pageNum == searchQuery.page} ? 'active'">
            <button class="page-link"
                    th:onclick="'applyRenovations('+${pageNum}+', '+${searchQuery.resultsPerPage}+')'"
                    th:text="${pageNum}"></button>
          </div>
        </th:block>

        <!-- Last page link (if not up to the last 3 pages) -->
        <li class="page-item disabled"
            th:if="${searchQuery.page < searchQuery.totalPages - 3}"><span
            class="page-link">...</span></li>
        <li class="page-item" th:if="${searchQuery.page < searchQuery.totalPages - 3}">
          <button class="page-link"
                  th:onclick="'applyRenovations('+${searchQuery.totalPages}+', '+${searchQuery.resultsPerPage}+')'"
                  th:text="${searchQuery.totalPages}"></button>
        </li>

        <!-- Next button -->
        <li class="page-item"
            th:classappend="${searchQuery.page >= searchQuery.totalPages} ? 'disabled'">
          <button class="page-link"
                  th:onclick="'applyRenovations('+(${searchQuery.page} + 1)+', '+${searchQuery.resultsPerPage}+')'">
            Next
          </button>
        </li>
      </ul>
      <input class="form-control"
             id="pageNumber"
             placeholder="Page Number"
             th:if="${searchQuery.totalPages > 10}"
             th:oninput="'validatePageNumber()'"
             type="text"/>
      <button class="btn btn-outline-primary"
              for="pageNumber"
              id="applyRenovations" th:if="${searchQuery.totalPages > 10}"
              th:onclick="'applyPaginationCustomPageNum('+${searchQuery.totalPages}+', '+ ${searchQuery.resultsPerPage} + ', applyRenovations)'">
        Confirm
      </button>
      <p class="text-danger justify-content-center" id="pageNumberError"
         style="display: none; margin-top: 0.75rem" th:if="${searchQuery.totalPages > 10}"></p>
    </nav>
  </div>
  <div class="row">
    <!-- Class generated by ChatGPT, It's purpose is to make the cards go in two columns on larger screens -->
    <div class="col-12 col-md-6 mb-2" th:each="renovation : ${searchResults}">
      <div class="card shadow-sm hover-animate ms-2 me-2 card-button">
        <div class="row g-0">
          <a class="text-decoration-none text-dark row g-0"
             id="renovation-link"
             th:href="@{/viewRenovation/{id}(id=${renovation.id})}">
            <div class="col-9 col-md-10 card-body renovation-text">
              <!-- Header altered by ChatGPT to get both the name and number of rooms on the same line -->
              <h5 class="card-title d-flex justify-content-between align-items-center">
                    <span class="text-truncate me-2 md-2 renovation-text"
                          th:text="${renovation.getName()}"></span>
                <small class="text-muted ms-auto text-truncate renovation-text"
                       th:text="'No. Rooms: ' + ${renovation.getRooms().size()}"></small>
              </h5>
              <p class="card-text text-truncate renovation-text"
                 th:text="${renovation.getDescription()}"></p>
            </div>
            <div
                class="col-3 col-md-2 rounded-start-0 d-flex align-items-center justify-content-center">
              <img alt="My Profile Picture" class="d-inline-block circular-image"
                   height="50"
                   th:if="${renovation.user.profileImagePath != null}"
                   th:src="@{${renovation.user.profileImagePath}}"
                   width="50">
              <img alt="My Profile Picture" class="d-inline-block circular-image"
                   height="50"
                   th:src="@{${defaultImagePath}}"
                   th:unless="${renovation.user.profileImagePath != null}"
                   width="50">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>