<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{fragments/head :: head(
      'Edit Password | Your Space',
      'Edit Password',
      'edit password, edit details')}"></th:block>
</head>
<body class="bg-light-subtle">
<header th:replace="~{fragments/internal_header:: internalHeader}"></header>
<input class="d-none" id="firstname" th:value="${user.firstName}"/>
<input class="d-none" id="lastname" th:value="${user.lastName}"/>
<input class="d-none" id="email" th:value="${user.email}"/>
<div class="container d-flex mt-5 justify-content-center">
  <div class="card shadow-lg p-4 w-100" style="max-width: 600px">
    <div class="card-body mx-4">
      <form id="editForm" method="POST" th:action="@{profile/editPassword}">
        <div class="d-flex justify-content-between align-items-center p-2">
          <h1 class="card-title">Edit Password</h1>
          <a class="btn btn-secondary p-2 ms-3" th:href="@{/profile}">Cancel</a>
        </div>
        <div class="form-group p-2">
          <label class="form-label" for="oldPassword">Old Password</label>
          <input class="form-control" id="oldPassword" name="oldPassword"
                 placeholder="old password"
                 th:classappend="${errors != null and errors.containsKey('oldPassword') ? 'is-invalid' : ''}"
                 type="password">
          <p class="text-danger" id="oldPasswordError"
             th:text="${((errors != null) && !errors.isEmpty() && errors.containsKey('oldPassword')) ? errors.get('oldPassword') : ''}"></p>
        </div>
        <div class="form-group p-2">
          <label class="form-label" for="password">New Password</label>
          <input class="form-control" id="password" name="password"
                 onblur="validateNewPasswordEditPasswordPage()" placeholder="new password"
                 th:classappend="${errors != null and errors.containsKey('password') ? 'is-invalid' : ''}"
                 type="password">
          <small class="text-muted">Note: Your new password cannot contain any details from your
            profile</small>
          <p class="text-danger" id="passwordError"
             th:text="${((errors != null) && !errors.isEmpty() && errors.containsKey('password')) ? errors.get('password') : ''}"></p>

        </div>
        <div class="form-group p-2 mt-3">
          <label class="form-label" for="confirm">Retype New Password</label>
          <input class="form-control" id="confirm" name="confirm"
                 placeholder="retype new password"
                 th:classappend="${errors != null and errors.containsKey('confirm') ? 'is-invalid' : ''}"
                 type="password">
          <p class="text-danger" id="confirmError"
             th:text="${((errors != null) && !errors.isEmpty() && errors.containsKey('confirm')) ? errors.get('confirm') : ''}"></p>
        </div>
        <div class="d-grid p-2">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:src="@{/js/fieldValidation.js}"></script>
<script>
    // Initialize with reset password-specific error messages
    const runPasswordValidation = setupPasswordValidation({
        invalidPassword: "Your password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character",
        passwordLength: "Password must be 255 characters long or less",
        passwordsMatching: "The new passwords do not match",
        containsUserDetails: "Your password cannot contain any details from your profile"
    });

    const form = document.getElementById("editForm");

</script>
</body>
</html>